<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" th:replace="user_base::layout(~{::section})">
<head>
<meta charset="ISO-8859-1">
<title></title>
</head>
<body>
	<section>
	<div class="row col-md-9 offset-md-1">
	<h2>Feedbacks</h2>
	<table style="padding: 50px;" class="table table-bordered table-striped">
		<tr>
			<th>Id</th>
			<th>Date-Time</th>
			<th>Crime</th>
			<th>Area</th>
		</tr>
		<tr th:each="feedback: ${feedbacks}">
			<td th:text="${feedback.feedId}"></td>
			<td th:text="${feedback.feedDateTime}"></td>
			<td th:text="${feedback.crime.crimeName}"></td>
			<td th:text="${feedback.area.areaName}"></td>
		</tr>
	</table>
	<div th:if="${totalPages>1}">
		<div class="row col-sm-12">
			<div class="col-sm-2">
				Total Feedbacks: [[${totalItems}]]
			</div>
			<div class="col-sm-1">
				<span th:each="i: ${#numbers.sequence(1, totalPages)}">
				
					<a th:if="${currentPage!=i}" th:href="@{'/user/feedback/'+${i}}">[[${i}]]</a>
					<span th:unless="${currentPage!=i}">[[${i}]]</span> &nbsp;
				</span>
			</div>
			<div class="col-sm-1">
				<a th:if="${currentPage<totalPages}" th:href="@{'/user/feedback/'+${currentPage+1}}">Next</a>
				<span th:unless="${currentPage < totalPages}">Next</span> &nbsp;
			</div>
			<div class="col-sm-1">
				<a th:if="${currentPage<totalPages}" th:href="@{'/user/feedback/'+${totalPages}}">Last</a>
				<span th:unless="${currentPage < totalPages}">Last</span>
			</div>
		</div>
	</div>
	</div>
	</section>
</body>
</html>